<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <table>
        <tr th:each="row : ${searchResults}">
            <table class="job-listing">
                <tr>
                    <td>Position Type</td>
                    <td th:text="${row.get('position type')}">eep</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td th:text="${row.get('name')}">eep</td>
                </tr>
                <tr>
                    <td>Employer</td>
                    <td th:text="${row.get('employer')}">eep</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td th:text="${row.get('location')}">eep</td>
                </tr>
                <tr>
                    <td>Core Competency</td>
                    <td th:text="${row.get('core competency')}">eep</td>
                </tr>
            </table>
        </tr>
    </table><!-- TODO #3 - Use the same list display from search.html -->

</div>

</body>
</html>